*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700px;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

section-p1{
    padding: 40px 80px;
}

body{
    width: 100%;

}

.logo{
    height: 100px;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d4d8e4cf;
    box-shadow: 0px 5px 12px rgb(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    font-size: 1.6em;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
    transition: 0.4s ease;
}

#navbar li a:hover{
    color: rgb(35, 86, 149);
}


.hero{
    width: 100%;
    height: 90vh;
    background-color: #e8e9edcf;
    height: 490px;  
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.msg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 200px;
    font-size: 1rem;
    margin-top: 20px;
}

.msg h4{
    font-size: 1.6em;
    font-family: Saira;
    font-weight: 550;
    padding-bottom: 10px;
}

.msg h2{
    font-family: Dancing Script;
    font-size: 5em;
}

.msg h2:hover{
    color: #2b3634b8;
}

.msg h2 .next{
    color: #2b3634b8;
}

.msg h2 .next:hover{
    color:rgb(24, 87, 87);
}

.msg p{
    font-size: 1.4em;
    color: #465b52;
}

.image{
    margin-top: 50px;
    margin-left: 200px;
}


/* 33.26 time */

/* From Uiverse.io by cssbuttons-io */ 

/* Hero Section Button implemented */
.hero-btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: rgb(161, 137, 232);
  width: 300px;
  margin-top: 20px;
}

.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.hero-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 300px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.hero-btn::after {
  background-color: #fff;
}

.hero-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}


/*Now here I am creating all the feauture section*/

#features{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ship{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 150px;
    height: 130px;
    padding: 20px 40px;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.ship i{
    font-size: 50px;
}

.ship h6{
    margin-top: 10px;
    font-size: 1em;
    border-width: 2px;
}

#Feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    font-family: Arimo;
}

#Feature h2{
    color: #465b52;
    font-size: 2.5em;
}

#Feature img{
    height: 200px;
    margin-right: 10px;
}

.shipping img{
    height: 50px;
    width: 50px;
    margin-bottom: -5px;
}

.shipping h6{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.order img{
    height: 50px;
    width: 50px;
    margin-bottom: -3px;
}

.order h6{
    font-size: 1.2em;
}

.cash img{
    height: 55px;
    width: 70px;
    margin-bottom: -8px;
}

.cash h6{
    font-size: 1.2em;
}

.tag img{
    height: 50px;
    width: 50px;
}

.tag h6{
    font-size: 1.3em;
    margin-left: -10px;
}

.sell img {
    height: 50px;
    width: 50px;
}

.sell h6{
    font-size: 1.2em;
    margin-bottom: -5px;
}

.available img{
    height: 50px;
    width: 50px;
}

.available h6{
    font-size: 1.2em;
    margin-bottom: -5px;
}

/* Products styling started */

#Products {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;

}

.product1 img {
    height: 200px;
    width: 200px;
}

.product1 {
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


