*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700px;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

section-p1{
    padding: 40px 80px;
}

body{
    width: 100%;
}

.logo{
    height: 100px;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d4d8e4cf;
    box-shadow: 0px 5px 12px rgb(0, 0, 0, 0.4);
}

.logo{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    font-size: 1.6em;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
    transition: 0.4s ease;
}

#navbar li a:hover{
    color: rgb(35, 86, 149);
}


.hero{
    width: 100%;
    height: 90vh;
    background-color: #e8e9edcf;
    height: 490px;  
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.msg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 200px;
    font-size: 1rem;
}

.msg h4{
    font-size: 1.6em;
    font-family: Saira;
    font-weight: 550;
    padding-bottom: 10px;
}

.msg h2{
    font-family: Dancing Script;
    font-size: 5em;
}

.msg h2 .next{
    color: #2b3634b8;
}

.msg p{
    font-size: 1.4em;
    color: #465b52;
}

.image{
    margin-top: 50px;
    margin-left: 200px;
}

