*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700px;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

section-p1{
    padding: 40px 80px;
}

body{
    width: 100%;
}

.logo{
    height: 100px;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #bec2d1;
    box-shadow: 0px 5px 12px rgb(0, 0, 0, 0.4);
}

.logo{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    font-size: 1.6em;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
}

#navbar li a:hover{
    color: rgb(69, 69, 124);
}